<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title%></h1>
    <% messages.forEach((message) => {%>
      <div class="card">
        <br/> <%= message["user"] %>
        <br/> <%= message["text"] %>
        <br/> <%= message["added"] %>
        <hr/>
      </div>
    <% })%>
  </body>
</html>
